@font-face {
  font-family: "iconfont"; /* Project id 3164491 */
  src: url('iconfont.woff2?t=1643287089443') format('woff2'),
       url('iconfont.woff?t=1643287089443') format('woff'),
       url('iconfont.ttf?t=1643287089443') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-zuijinlaifang:before {
  content: "\e6d7";
}

.icon-yinleyule:before {
  content: "\e617";
}

.icon-jieshao:before {
  content: "\e72f";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-xiangce:before {
  content: "\e7f1";
}

.icon-tuichu:before {
  content: "\e638";
}

.icon-svgwrite:before {
  content: "\e650";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-guanyuwomen:before {
  content: "\e6aa";
}

.icon-liulanliang:before {
  content: "\e603";
}

.icon-qunzu:before {
  content: "\e64b";
}

.icon-jurassic_message:before {
  content: "\e69f";
}

.icon-dianzan:before {
  content: "\e8c3";
}

.icon-denglu:before {
  content: "\e611";
}

